name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Nightly
      run: rustup toolchain install nightly
    - name: Build
      run: cargo +nightly build --verbose
    - name: Run tests
      run: cargo +nightly test --verbose
    - name: Run doc
      run: cargo doc 
    -
      name: Gen dummy page
      run: |
        cat > ./target/doc/index.html << EOL
        <!DOCTYPE html>
        <head>
        <script language="javascript" type="text/javascript">
        window.location.href = "elf/index.html";
        </script>
        </head>
        EOL

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/doc
